@import './mixins';
@import './variables';

.excel__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 8px 2px 0 2px;
  border-bottom: 1px solid rgb(136, 136, 136);  

  & .excel__input {
    width: 250px;
    margin: 0;
    padding: 2px 7px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: rgb(104, 104, 104);
    height: 25px;
    font-size: 25px;
    line-height: 20px;
    outline: none;

    &:hover {
      border: 1px solid rgb(227, 250, 144);
    }

    &:focus {
      border: 2px solid rgb(84, 253, 84);
      border-radius: 5px;
    }

    

  }

  .excel__button {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 24px;
    margin-right: 4px;

    & span:active {
      @include click(red)
    }

    & span:hover {
      cursor: pointer;
    }
  }

}
